*__pycache__
*.pyc
onyx/api_token.py
onyx/FTG-Modules
onyx/loaded_modules
onyx*.session*
database-*.json
*.swp
.setup_complete
.tox
.idea/
venv/
data/
mishase_cache/
translations/
api_token.txt
.coverage
.vscode/
ftg-install.log
config.ini
.cache
config-*.json
config.json
*cache*.json
*.png
*.jpg
*.jpeg
*.webp
*.webm